@charset "utf-8";

/*HTML Styles*/

html {
  background-color: cornflowerblue;
  font-family: 'Times New Roman', Times, serif;
}

/*Header Styles*/
h1, h2, h3{
  text-align: center;
  color: azure;
  font-family: 'Times New Roman', Times, serif;
  
}
nav{
  text-align: left;
  color: azure;
   
}

/*Body Styles*/
body{
  margin-left: auto;
  margin-right: auto;
}
p{
  margin-left: auto;
  margin-right: auto;
  color: azure;
  font-size: small;
}

img{
  margin-left: 5%;
  align-content: left;
}
article{
  vertical-align: top;
  float: right;
  width: fit-content;
  background-color: darkblue;
  color: azure;
}

