@charset "utf-8";

/*HTML Styles*/

html {
  background-color: cornflowerblue;
  font-family: 'Times New Roman', Times, serif;
}

/*Header Styles*/
h1, h2, h3{
  text-align: center;
  color: azure;
  font-family: 'Times New Roman', Times, serif;
  
}
p{
  color: azure;
  font-size: small;
}
nav{
  text-align: left;
  color: azure;
   
}
img{
  align-content: left;
}
article{
  float: right;
  width: fit-content;
  background-color: darkblue;
}

