@charset "utf-8";

/*HTML Styles*/

html {
  background-color: cornflowerblue;
  font-family: 'Times New Roman', Times, serif;
}

/*Header Styles*/
h1, h2, h3{
  text-align: center;
  color: azure;
  font-family: 'Times New Roman', Times, serif;
  
}

nav#topLinks a:link, nav#topLinks a:visited {
	color: white;
}

nav#topLinks a:hover, nav#topLinks a:active {
	color: rgb(248, 237, 212);
}

nav#mainLinks ul li {
	background-color: rgb(53, 98, 42);	
	display: block;
	float: left;
	text-align: center;
	width: 20%;	
}

nav#mainLinks ul li a {
	color: white;	
	display: block;
	height: 2.5em;	
	text-align: center;
	line-height: 2.5em;	
}

nav#mainLinks a:link, nav#mainLinks a:visited {
	color: white;
}

nav#mainLinks a:hover, nav#mainLinks a:active {
	background-color: rgb(51, 51, 45);
}


/*Body Styles*/
body{
  margin-left: auto;
  margin-right: auto;
}
p{
  margin-left: auto;
  margin-right: auto;
  color: azure;
  font-size: small;
}

img{
  margin-left: 5%;
  align-content: left;
}
article{
  vertical-align: top;
  margin-right: 5%;
  align-content: right;
  width: fit-content;
  background-color: darkblue;
  color: azure;
}

